@model ProyectoFinal_JuegoWiki.Models.Consumible

@{
    ViewData["Title"] = "Crear";
}

<div class="contenidoprincipal">
    <div style="width: 90%">
        <h1 style="margin-top:20px; font-size: 60px; margin-right: 20px;">CREAR NUEVO CONSUMIBLE</h1>

        <hr class="barraSeparadora" />
    </div>

    <div class="row">
        <div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>*
                    <input asp-for="Nombre" class="loginregister-input form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <textarea asp-for="Descripcion" class="loginregister-input form-control" style="max-height: 500px; min-height: 60px; transition: none;"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label>
                    <input type="file" asp-for="Imagen" class="loginregister-input form-control" required title="Se requiere una imagen"/>
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top: 40px;">
                    <input type="submit" value="Crear" class="loginregister-btn" />
                </div>
            </form>
        </div>
    </div>

    <div style="margin-top: 50px; margin-bottom: 20px;">
        <a asp-action="Index">Volver a la lista</a>
    </div>

</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
