@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Cambio de contraseña";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row" style="margin-bottom: 20px;">
        <form id="change-password-form" method="post">
            <div class="form-group">
                <label>Antigua contraseña:</label>
                <input asp-for="Input.OldPassword" class="loginregister-input form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Nueva contraseña:</label>
                <input asp-for="Input.NewPassword" class="loginregister-input form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Confirmar nueva contraseña:</label>
                <input asp-for="Input.ConfirmPassword" class="loginregister-input form-control"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
                <button type="submit" class="loginregister-btn">Cambiar contraseña</button>
        </form>
</div>

@*<script type="text/javascript">
    var formulario = document.getElementById('change-password-form');

    function alertaCambio() {
        if (formulario.checkValidity()) {
            alert("Contraseña cambiada");
        }
    }
</script>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
