@{
    ViewData["Title"] = "Tu perfil";
}

    <div style="width: 90%">
        <h1 style="margin-top:20px; font-size: 60px; margin-right: 20px;">TU PERFIL</h1>

        <hr class="barraSeparadora" />
    </div>

    <div class="informacionTotal" style="display:flex; justify-content: space-between; width: 100%; padding: 0px 10%; padding-bottom: 30px;">
        
    </div>