@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "ACCESO RESTRINGIDO";
}

<div class="contenidoprincipal" style="justify-content: center; align-content: center; background-color: rgba(238,74,74, 0.3);">
    <h1 class="text-danger">ACCESO RESTRINGIDO</h1>
</div>
