@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmado";
}


<div class="contenidoprincipal" style="align-items: center; justify-content: center;">
    <h1 style="padding: 50px;">EMAIL CONFIRMADO CON ÉXITO</h1>
    <p>Ya puedes <a asp-page="./Login" style="font-weight: bolder;">iniciar sesión</a> con tu nueva cuenta.</p>
</div>