@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Olvidé mi contraseña?";
}

<div class="contenidoprincipal">
    <div style="width: 90%">
        <h1 style="margin-top:20px; font-size: 60px; margin-right: 20px;">OLVIDÉ MI CONTRASEÑA</h1>

        <hr class="barraSeparadora" />
    </div>
    <div>
        <p style="margin: 30px; text-align:center;">Introduce la dirección de correo electrónico que usaste para crear tu cuenta en la wiki. Recibirás un correo con las instrucciones para modificar tu contraseña.</p>
    </div>
    <div class="row">
        <div>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="loginregister-input form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="loginregister-btn">Enviar</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
